# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/
# Java class files
*.class

# Ignore gradle files
.gradle/
build/

# Mac OS X clutter
*.DS_Store
